@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}
.nav-edit-container {
  min-width: 320px;
  max-width: 600px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

.nav-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.nav-edit-container label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  border-top-left-radius:25px;
}
.nav-edit-container .hidden {
  display: none;
}

.nav-edit-container label:hover {
  color: #888;
  cursor: pointer;
}

.nav-edit-container .hidden:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

.font-editor,.color-editor{
  display: grid;
  grid-template-columns: auto;
}
.size-editor{
  text-align: center;
}


.font-editor div label,
.font-editor div select,
.font-editor div input,
.size-editor div label,
.size-editor div input{
  width: 200px;
}

.color-editor div label{
  width: 15rem;
}
.color-editor div select{
  width: 6rem;
}
.color-editor div input{
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
  width: 8rem;
}



#Main:checked ~ #nav-main-details,
#Color:checked ~ #nav-color-details,
#Size:checked ~ #nav-size-details,
#Font:checked ~ #nav-font-details,
#Hover:checked ~ #nav-hover-details{
  display: block;
}

.addNewLinkBtn {
  width: 40px;
  height: 40px;
   border: 1px solid royalblue;
  border-radius: 50%;
  font-size: 20px;
  background-color: royalblue;
  color:white;
  transition-duration: 0.6s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.main {
  display: flex;
  flex-direction: column;
}
.addLinkDiv {
  margin-bottom: 10px;
  margin-left: 20px;
}
.newLinkHref, .newLinkTitle {
  text-align: center;
  height: 30px;
  border-radius: 3px;
}
.addNewLinkBtn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#floatInner {
  height: 40px;
  border: 3px solid transparent;
border-color: DodgerBlue;
}
.select-items {
  height: 50px;
  width: 30px;
}

.positionContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;

}

.previewCss {
width: 80%;
 padding: 0.2em 0.8em;
margin : 20px;
border: 1px black solid;
}

.nav-preview {
  margin-left: 15%;
}
.redBorder{
  border: 2px solid red;
}
