@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: white;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.navEditContainer {
  min-width: 320px;
  max-width: 600px;
  min-height: 300px;
  max-height: 1000px;
  padding: 0px;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #E9EFFC;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.nav-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.navEditContainer label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
   border: 1px solid transparent;
  border-top-left-radius: 25px;

}

.navEditContainer .hidden {
  display: none;
}

.navEditContainer label:hover {
  color: #3B5998;
  cursor: pointer;
}

.navEditContainer label {
     color: #3B5998;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background-color: #E9EFFC;
}
.navEditContainer .hidden:checked+label {
  color: white;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  background-color: #3B5998;
}


#Main:checked~#nav-main-details, #Color:checked~#nav-color-details, #Size:checked~#nav-size-details, #Font:checked~#nav-font-details, #Hover:checked~#nav-hover-details {
  display: block;
}

.addNewLinkBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #3B5998;
  color: white;
  margin-left: 14px;
}

.main {
  display: flex;
  flex-direction: column;
}

.addLinkDiv {
  margin-bottom: 10px;
  margin-left: 20px;
}

.newLinkHref, .newLinkTitle {
  height: 30px;
  border-radius: 3px;
  margin-left: 45px;
}

.paddingInputForNavbar {
  height: 30px;
  border-radius: 3px;
  margin-left: 46px;
}

.addNewLinkBtn:hover {
  background-color: #EF5552;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.floatInner {
  height: 35px;
  border-radius: 16px;
  background-color: #3B5998;
  color: white;
  width: 70px;
  margin-left: 10px;
  padding: 5px;
}

.floatInner:hover {
  background-color: #EF5552;
}

.select-items {
  height: 50px;
  width: 30px;
}

.positionContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.preview {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #9bbef7;
  margin-bottom: 50px;
}

li {
  float: left;
  padding-bottom: 80%;
  text-align: center;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.previewCss {
  width: 80%;
  padding: 0.2em 0.8em;
  margin-top: 0px;
  border: 1px gray solid;
  margin-top: 0px;
}

.navPreview {
  margin-left: 15%;
  margin-top: 45px;
}

.label {
  padding-left: 35px;
  padding-top: 45px;
}


.heightInputForNavbar{
  height: 30px;
  border-radius: 3px;
  margin-left: 22px;
}


.navbarPosition {
  margin-left: 32px;
}

.labelForAddingLinkBtn {
  padding-left: 10px;
}

.generateCodeButton {
  background-color: #EF5552;
  color: white;
  border-radius: 16px;
  height: 35px;
  width: 200px;
  font-weight: bold;
  margin-bottom: 90px;
}

.generateCodeButton:hover {
  background-color: #F4CA19;
  color: #3B5998;
}

.GenerateCodeDiv {
  text-align: center;
  margin-top: 10px;
}

.navbarWidth {
  margin-left: 4px;
}

.newLinkFloat {
  padding-left: 15px;
}



.cssCode{
  text-align: left;
  background-color: #E9EFFC;
  border-radius: 10px;
  width: 20%;
  height: auto;
  padding: 15px;
 float: left;
 margin-left: 330px;

}

.htmlCode{
  text-align: left;
  background-color: #E9EFFC;
  border-radius: 10px;
  width: 20%;
  height: auto;
  padding: 15px;
float: right;
margin-right: 330px;
}


.backToEditing{
  background-color: #EF5552;
  height: 30px;
  width: 60px;
  border-radius: 16px;
  color: white;
  float: left;
 }

 .resultContainer{
   display: none;
   margin-top: 80px;
 }
