<section class="container">

<div class="block">
  <img src="https://d2d3qesrx8xj6s.cloudfront.net/img/screenshots/a18a27c0f70c9c16001ff897bb75a4877be5435a.jpeg" class="contImage" alt="">
  <input type="button" name="" value="Navbar Section">
</div>
<div class="block">
  <img src="https://d2d3qesrx8xj6s.cloudfront.net/img/screenshots/a18a27c0f70c9c16001ff897bb75a4877be5435a.jpeg" class="contImage" alt="">
  <input type="button" name="" value="Navbar Section">
</div>
<div class="block">
  <img src="https://d2d3qesrx8xj6s.cloudfront.net/img/screenshots/a18a27c0f70c9c16001ff897bb75a4877be5435a.jpeg" class="contImage" alt="">
  <input type="button" name="" value="Navbar Section">
</div>
<div class="block">
  <img src="https://d2d3qesrx8xj6s.cloudfront.net/img/screenshots/a18a27c0f70c9c16001ff897bb75a4877be5435a.jpeg" class="contImage" alt="">
  <input type="button" name="" value="Navbar Section">
</div>

</section>
