
<div class="centeredTitle">
  <h1>Welcome {{capitalize name}}, here you can find your code!</h1>
</div>


<div class="htmlCode">
<h3 style="text-align:center">HTML</h3>
  {{#each htmlCode}}
  <li class="liElement">{{this.html_code}}</li>
  {{/each}}
</div>


<div class="cssCode">
  <h3 style="text-align:center">CSS</h3>
  {{#each cssCode}}
    <li class="liElement">{{this.css_code}}</li>
  {{/each}}
</div>
