<header>
  <img class="logo" src="images/papers.svg" alt="logo">
  <div class="head">
    <h1><span class='yellow'>C</span>opy<span class='red'>P</span>aste</h1>
    <h2>Get your code fast!</h2>
  </div>
</header>
